# Folder with matlab code
/daniel_stuff/*
/code/matlab/*
/code/data/*

# Test scripts
/code/signal_filter.py
/code/test.py
/code/examples.py
/code/hdf5_test.py
/code/dataset_test.py

# OS file
.DS_Store

# Generated output file
*.h5
*.hdf5
